<p-card header="Add/Edit Employee" class="login-box" [style]="{width: '360px', marginTop: '150px', marginLeft: '450px'}"
    styleClass="ui-card-shadow">
    <p-header>
    </p-header>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
        <div style="display:flex; align-items:center; flex-direction:column">
            <span class="ui-float-label">
                <input id="float-input" formControlName="email" type="email" size="30" pInputText>
                <label for="float-input">Email</label>
            </span>
            <br>
            <span class="ui-float-label">
                <input id="float-input" formControlName="firstName" type="text" size="30" pInputText>
                <label for="float-input">FirstName</label>
            </span>
            <br>
            <span class="ui-float-label">
                <input id="float-input"  formControlName="lastName" type="text" size="30" pInputText>
                <label for="float-input">LastName</label>
            </span>
        </div>
        <p-footer>
            <button pButton type="submit" label="Add" icon="pi pi-check" style="margin-right: .25em"></button>
        </p-footer>
    </form>
</p-card>