@import '~ngx-toastr/toastr';

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  }
  .car-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    border-bottom: 1px solid #d9dad9;
}
.text-center{
  text-align: center;
}
.login-box{
  padding: 10px;
  text-align: center;
}