<p-card header="Login" [style]="{width: '360px'}" styleClass="ui-card-shadow">
    <p-header>
    </p-header>
    <div style="display:flex; align-items:center; flex-direction:column">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span> <input type="text" pInputText
                placeholder="Username" />
        </div>

        <br>
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>
            <input type="password" pPassword placeholder="Password" />
        </div>
    </div>
    <p-footer>
        <button pButton type="button" label="Login" icon="pi pi-check" style="margin-right: .25em"
            [routerLink]="['/layout']"></button>
    </p-footer>
</p-card>