<h2 class="text-center">Employee List</h2>
<button pButton type="button" style="margin-left: 600px;" [routerLink]="['/layout/add-edit-employee', 0]"
    label="Add Employee"></button>

<p-dataView #dv [value]="users">
    <ng-template let-user pTemplate="listItem">
        <div class="ui-g-12">
            <div class="car-details">
                <div>
                    <div class="ui-g">
                        <img class="ui-g-4" src="{{user.avatar}}" (click)="getDetail(user.id)">
                        <div class="ui-g-8">
                            <div>Email: <b>{{user.email}}</b></div>
                            <div>First Name: <b>{{user.first_name}}</b></div>
                            <div>Last Name: <b>{{user.last_name}}</b></div>
                        </div>
                    </div>
                </div>
                <div>
                    <button pButton type="button" icon="pi pi-pencil"
                        [routerLink]="['/layout/add-edit-employee', user.id]"></button>
                    <button pButton type="button" icon="pi pi-trash" (click)="deleteEmployee(user.id)"></button>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>

